<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fairyBeauty.mapper.MRoleTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fairyBeauty.entity.MRoleType">
        <id column="id" property="id" />
        <id column="role_type" property="roleType" />
        <result column="name" property="name" />
        <result column="memo" property="memo" />
        <result column="update_time" property="updateTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="is_delete" property="isDelete" />
        <result column="delete_time" property="deleteTime" />
        <result column="delete_user_id" property="deleteUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_type,  name, memo, update_time, update_user_id, create_time, create_user_id, is_delete , delete_time , delete_user_id
    </sql>

</mapper>
