<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fairyBeauty.mapper.SysAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fairyBeauty.entity.SysArea">
        <id column="area_id" property="areaId" />
        <result column="area_name" property="areaName" />
        <result column="parent_area_id" property="parentAreaId" />
        <result column="parent_area_name" property="parentAreaName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        area_id, area_name, parent_area_id, parent_area_name
    </sql>

</mapper>
